*, ::before, ::after {
    margin:0;
    padding:0;
    box-sizing: border-box;
  }

  body{
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color:rgb(107, 162, 207);
  }

  .header{
      font-size: 32px;
      height: 40px;
  }

  .main{
      height: calc(100vh - 65px);
      min-height: 150px;
      display: flex;
      flex-direction: column;
      justify-content: center;
  }

  .form{
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
  }

  .card{
      width: 400px;
      height: 100px;
      display: flex;
  }

  .city-name{
      height: 100%;
      width: 300px;
      font-size: 24px;
      display: flex;
      align-items: center;
  }

  .weather-info{
      width: 100px;
      height: 100%;
      display: flex;
      flex-direction: column;
  }

  .weather-icon{
      height: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .weather-icon>img{
      max-width: 50px;
      max-height: 50px;
  }

  .temperature{
      height: 50%;
      display: flex;
  }

  .temp-value{
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .units{
      cursor: pointer;
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .footer{
      height: 25px;
  }


  @media screen and (max-width: 420px){
      body{
          width: 100vw;
          height: 100vh;
      }

      .form{
          margin-bottom: 40px;
      }

      .card{
        width: 100%;
        height: 100px;
        display: flex;
    }
  
    .city-name{
        height: 100%;
        width: 65%;
        font-size: 24px;
        display: flex;
        align-items: center;
    }
  
    .weather-info{
        width: 35%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
  
    .weather-icon{
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
  
    .weather-icon>img{
        max-height: 100%;
        aspect-ratio: 1;
    }
  
    .temperature{
        height: 50%;
        display: flex;
    }
  
    .temp-value{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
  
    .units{
        cursor: pointer;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
  }